@font-face {
    font-family: 'BankGothic';
    font-style: normal;
    font-weight: 400, 700; 
    src: 
        url('./assets/fonts/BankGothic/BankGothic-Regular.ttf') format('truetype'),
        url('./assets/fonts/BankGothic/BankGothic-Bold.ttf') format ('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400, 700; 
  src: 
        url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format ('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  color: #374151;
}
.create-employee-wrapper {
  padding: 0 80;
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
  text-align: center; 
}

.employees-wrapper {
  padding: 0 80;
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box; 
}

header .nav-wrapper {
  padding-top: 20px;
}

header nav .nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color:#5A6F07;
}

header nav a:first-child {
  font-family: 'BankGothic', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
}

header nav a:first-child.active {
  cursor: default;
  pointer-events: none;
}

header nav a:last-child {
  text-decoration: none;
  display: auto;
}

header nav a:last-child.active {
  display: none;
}

nav img {
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}

.create-employee-wrapper .form-wrapper {
  padding: 0 300px 50px 300px;
}


.create-employee-wrapper .form-wrapper .form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 30px;
  padding-bottom: 50px;
  padding-top: 10px;
}


.create-employee-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  margin: 0;
  padding: 20px 0;
  color: #374151;
}

label {
  padding-right: 30px;
}

input {
  height: 30px;
  border-radius: 6px;
  border: 1px solid #d1d5db;

}

.create-employee-wrapper form fieldset{
  display: flex;
  flex-direction: column;
  color: #374151;
}

.submit-btn {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 100px;
  background-color: #ecfeff;
  color: #0e7490;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.modal {
  display: none;    
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.modal-content {
  padding: 30px;
  background: white;
  width: 300px;
  height: 100px;
  margin: auto;
  border-radius: 20px;
  position: absolute;
  inset: 0;
  top: 15vh;
  bottom: 15vh;
}

.modal .close {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  color: #0e7490;
  background-color: #ecfeff;
  border: none;
  border-radius: 20px;
  padding: 0 10px 0 10px;
}

.datatable {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}

.datatable-filter {
  font-family: 'Montserrat', sans-serif;
}

.employees-wrapper {
  text-align: center;
}

.employees-wrapper a {
  color:#5A6F07;
  padding-bottom: 30px;
}
